* {
    box-sizing: border-box;
}

:root {
    --font-heading: sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Các thẻ button, input, textarea, select có thuộc tính font-family mặc định nên ưu tiên hơn so với font-family chúng ta set ở body. */
/* Trong đó, inherit nghĩa là kế thừa. Lúc này, font của button sẽ kế thừa từ thẻ cha gần nhất có font-family */
button {
    font-family: inherit;
}

/* ================== Common ============= */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    letter-spacing: -1.16px;
    font-weight: 700;
}

.heading.heading-1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.heading-2 {
    font-size: 38px;
    line-height: 1.26;
}

.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.word-break-all {
    word-break: break-all;
}

/* ================ Header =============== */
.header {
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 21px;
}

.header .nav li:hover a,
.header .nav li:active a {
    color: #171100;
    font-size: 16px;

    /* Để text-shadow khi hover vào sẽ không bị lay chuyển các phần tử xung quanh ( font-weight: 600; làm chữ to ra đẩy các phần gtuwr xung quyanh ) */
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.header .nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;

    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action .sing-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 39px;
}

/* ================== Hero ================ */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}

.hero-summary {
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

/* .hero-summary .item + .item {
    margin-top: 22px;
} */

.hero-summary .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero-summary .item .info {
    margin-left: 16px;
}

.hero-summary .item .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero-summary .item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
}

.hero .stats {
    /* Margin-left= -28px để số 50k về đúng vị trí do padding-left= 28px của strong đẩy  */
    margin: 8px 0 0 -28px;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.cta-group-btn {
    min-width: 180px;
    border-radius: 32px;
    background: var(--primary-color);
    line-height: 64px;
}

.hero .content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    column-gap: 14px;
    border: none;
    background: #fffcf4;
    cursor: pointer;
}

.content-block .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ab8620;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.content-block .stats strong {
    padding-right: 14px;

    /* Padding-left để số 70+ cách 28px chũ Students  */
    padding-left: 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
}

/* ======================= Popular =========================== */

/* popular-top */

.popular {
    margin-top: 200px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* course-list */

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-list .course-item {
    flex: 1;
    border-radius: 12px;
    border: 2px solid #e2dfda;
}

.course-list .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
    transform: 0.2s;
}

.course-list .thumb {
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;

    /* Để 100% thì viền border đè lên bức ảnh, nên dùng margin: -1px; để ảnh lên trên
và phải cộng thêm 2px ( của border ) vào width để ảnh vừa với viền */
    margin: -1px;
}

.course-list .info {
    padding: 16px 22px 22px;
}

.course-list .info .head,
.course-list .head .rating,
.course-list .info .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-list .head .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.course-list .rating .value {
    padding-left: 6px;
}

.course-list .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.course-list .info .foot {
    margin-top: 12px;
}

.course-list .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-list .foot .book-btn {
    border: none;
    cursor: pointer;
    transition: 0.1s;
}

.course-list .foot .book-btn:hover {
    background: var(--primary-color);
}
